@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 43 100% 54%;
    --primary-foreground: 0 0% 0%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 173 100% 39%;
    --accent-100: 172 86% 91%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --danger: 13 94% 57%;

    --fs--2: clamp(0.7813rem, 0.7268rem + 0.2722vi, 0.9378rem);
    --fs--1: clamp(0.9375rem, 0.8024rem + 0.6757vi, 1.326rem);
    --fs-0: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
    --fs-1: clamp(1.35rem, 0.8974rem + 2.263vi, 2.6513rem);
    --fs-2: clamp(1.62rem, 0.8795rem + 3.7024vi, 3.7489rem);
    --fs-3: clamp(1.944rem, 0.7764rem + 5.8381vi, 5.3009rem);
    --fs-4: clamp(2.3328rem, 0.5371rem + 8.9786vi, 7.4955rem);
    --fs-5: clamp(2.7994rem, 0.0866rem + 13.5639vi, 10.5986rem);

    --radius: 0.5rem;

    --box-shadow-default: 0.25rem 0.25rem 0 0 currentColor;
  }

  /* .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 43 100% 54%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-accent-100 text-base text-foreground min-h-dvh;
  }
  svg {
    @apply w-5;
  }
}

@layer utilities {
  .shadowed {
    @apply shadow-default;
  }
  button.shadowed:active {
    @apply translate-x-1 translate-y-1 shadow-none;
  }
}

.content-grid {
  --gap: 1rem;

  --breakout-size: minmax(0, 7rem);
  --content-size: min(65ch, calc(100% - var(--gap) * 2));

  display: grid;
  grid-template-columns:
    [full-bleed-start] 1fr [witout-gap-start] var(--gap) [breakout-start] var(
      --breakout-size
    )
    [content-start] var(--content-size)
    [content-end] var(--breakout-size)
    [breakout-end] var(--gap) [witout-gap-end] 1fr [full-bleed-end];
}
.content-grid > * {
  grid-column: content;
}
.content-grid > .breakout {
  grid-column: breakout;
}
.content-grid > .witout-gap {
  grid-column: witout-gap;
}
.content-grid > .full-bleed {
  grid-column: full-bleed;
}
